*.wasm
prj/
sdram/
user/backup/
user/data/asm
user/data/c
user/data/hex
user/data/isa/hex
user/data/isa/encrypted
user/data/isa/generated
user/data/isa/verilog
.vscode/settings.json
user/tools/__pycache__
slpp_all
user/sim/tb_CPU_TOP_local.sv
test.json
*.dot
*.svg
*.log
*.pb
*.pdf
*.out
coremark/docs
*.elf
# *.SText
coremark/*.hex
coremark/*.o
coremark/escute/*.hex
coremark/escute/*.o

